
/*for validation*/
.validation p{
    color:red;
    display: inline!important;
    text-transform: uppercase;
    margin-left: 6px;
}
/*for success message*/

.success_msg{
    color:green;
    text-align:center!important;
}

input[type="text"]{
    color:#000000 !important;
}

select{
    color: #000000 !important;
}
textarea{
    color: #000000 !important;
}

.error{
    color:red!important;

    display: inline;
    margin-left:15px;
}

.contact-separator

{
margin: 25px 0  5px 1px!important;
}
/*.alert{*/
    /*height:30px!important;*/
    /*text-align:center;*/
    /*padding: 1px!important;*/
/*}*/

.alert.alert-error p {
    background-image: url("/assets/images/bullet-red.gif");
    background-position: 0 7px;
    background-repeat: no-repeat;
    clear: both;
    display: block;
    height: 10px;
    padding-left: 10px;
    width: 100%;
}


.glyphicons-edit {
    float: left;
    margin-top: -6px;
}
.glyphicons-delete {
    float: left;
    margin-top: -5px;
}
.glyphicons-ok {
    float: left;
    margin-top: -2px;
}

.midium-textarea{
    width: 475px;
    height: 90px;
}

#matrix-flavour{
    font-weight: bold;
    line-height: 70px;
    padding-left: 20px;
    width: 212px;
}
.matrix-flavour-name {
    font-size: 12px;
    font-weight: bold;
    height: 39px;
    line-height: 32px !important;

}

div.dataTables_info {
    margin-left: 10px;
    margin-top: 5px;
    padding-top: 0;
}